<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2do</title>
    <link rel="stylesheet" href="{%static 'css/pag2.css' %}">
</head>
<body style="box-shadow: 0 0 20px black; width: 50%; margin: auto; padding: 20px; margin-top: 20px; border-radius: 20px;">
    <h1 style="text-align: center;">Bienvenido</h1>
    <h2>Información del usuario: </h2> 
    <h2>Nombre: {{nombre}}</h2>
    <h2>Apellido: {{apellido}}</h2>
    <img src="{%static 'img/OIP.jpeg' %}">
</body>
</html>